# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
encrypted_docs/

# Environment variables — HECH QACHON git ga tushurilmasin!
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/