{% extends 'base.html' %}

{% block title %}Tizimga Kirish{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-dark text-white text-center">
                <h4>Tizimga Kirish</h4>
            </div>
            <div class="text-center mt-3"><a href="{% url 'register' %}">Yangi akkaunt yaratish</a></div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Foydalanuvchi nomi</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Parol</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Kirish</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}